<footer class="footer mt-auto py-1 bg-secondary bg-gradient fixed-bottom text-center">
  <div class="container">
    <span class="text-muted">Персональний менеджер фінансів - курсовий проєкт. Освітня платформа Prometheus. SoftServe: RUBY101. Розробка вебдодатків на Ruby від SoftServe</span><br>
    <span class="text-muted">This app was coded by Nat Voronjanska, and is <a class="text-dark text-muted" href="https://github.com/NatVoronianska/finance_app">open-sourced</span>
  </div> 
</footer>