<p style="color: green"><%= notice %></p>
<h3>Show category</h3>
<hr>

<%= render @category %>

<div class="flex-row ">
  <%= link_to "Back to categories", categories_path, class: "btn btn-success" %>
</div>
