<h1>Reports#index</h1>
<form action="report_by_category" method="GET">
<select name="category">
    <option>--Please choose a category--</option>
    
</select>
  <input type="submit" value="Згенерувати">
</form>
<form action="report_by_dates" method="GET">
  firstdate: <input type="date" name="firstdate"><br>
  lastdate: <input type="date" name="lastdate"><br>
  <input type="submit" value="По датах">
</form>
