<p style="color: green"><%= notice %></p>

<h1>Transactions</h1>
<hr>
<div id="operations">
      <% @operations.each do |operation| %>
      <%= render operation %>
      <p>
        <%= link_to "Show this operation", category_operation_path(@category, operation) %>
      </p>    
      
      <% end %>
</div>

<%= link_to "Create new operation", new_category_operation_path(@category), class: "btn btn-outline-secondary" %>
